<center>
	<p style="border-width:3px; border-style:solid; border-color:#FF0000; padding: 1em;background-color:powderblue;color: violet; font-size:30px ;" >Kakaria</p>
	{% load static %}
<img src="{% static '/images/kakaria.jpg' %}" alt="My image" height="300px" width="400px">
<h2 style="color: Green; font-size:25px" align="left">Atal Bridge : </h2>

<p align="justify" style="font-size: 20px;color: red;font-family: Verdana;">Kankaria Lake is the second largest lake in Ahmedabad, Gujarat, India. It is located in the south-eastern part of the city, in the Maninagar area. It was completed in 1451 during the reign of Sultan Qutb-ud-Din Ahmad Shah II though its origin is placed in the Chaulukya period sometimes. A lakefront is developed around it, which has many public attractions such as a zoo, toy train, kids city, tethered balloon ride, water rides, water park, food stalls, and entertainment facilities. The lakefront was revamped in 2007–2008. Kankaria Carnival is a week-long festival held here in the last week of December. Many cultural, art, and social activities are organised during the carnival.[1]</p>
<a href="/atal/">Click here for Atal</a>
<br>
<a href="/sidi/">Click here for Sidi</a>
</center>